@import '../variables';
@import '../placeholders';

.container {
    position: relative;
    background-color: $color-white;

    .closeButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 18px 10px;
        color: $color-gray;
    }

    .content {
        @extend %fullscreen;

        display: flex;
        flex-direction: column;
    }

    .titleContainer {
        padding: 20px;
    }

    .title {
        max-width: 800px;

        padding: 25px 20px 20px 0;
        font-weight: bold;
        font-size: 28px;

        @media only screen and (min-width: 800px) {
            margin: 0 auto;
        }
    }

    .pages {
        flex-grow: 1;
        position: relative;
    }

    .page {
        @extend %fullscreen;

        overflow: auto;
        padding: 0 20px;
    }

    .pageContent {
        max-width: 800px;
        margin: 0 auto;
    }

    .contributionTypeSelector {
        opacity: 1;
        transition: opacity 0.2s 0.2s ease;
    }

    .contributionForm {
        opacity: 0;
        transition: opacity 0.2s ease;
        pointer-events: none;
    }

    &.formActive {
        .contributionTypeSelector {
            pointer-events: none;
            opacity: 0;
            transition-delay: 0s;
        }

        .contributionForm {
            opacity: 1;
            pointer-events: auto;
            transition-delay: 0.2s;
        }
    }
}
