@import '../variables';
@import '../placeholders';

.container {
    background-color: $color-white;    

    .closeButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 18px 10px;
    }

    .content {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .title {
        max-width: 800px;
        
        padding: 25px 10px 20px;
        font-weight: bold;
        font-size: 18px;
        
        @media only screen and (min-width: 800px) {
            margin: 0 auto;
        }
    }

    .pages {
        flex-grow: 1;
        position: relative;
    }    

    .page {
        @extend %fullscreen;

        overflow: auto;
    }

    .pageContent {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 10px;
        height: 100%;
    }

    .contributionSelector {
        opacity: 1;
        transition: opacity .2s .2s ease;
    }

    .contributionForm {
        opacity: 0;
        transition: opacity .2s ease;
        pointer-events: none;
    }

    &.formActive {
        .contributionSelector {
            pointer-events: none;
            opacity: 0;
            transition-delay: 0s;
        }

        .contributionForm {
            opacity: 1;
            pointer-events: auto;
            transition-delay: .2s;
        }        
    }
}
