@import '../variables';
@import '../placeholders';

.container {
    padding: 20px;
    background-color: $color-white;

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $color-gray;
    }

    // .content {

    // }

    .contributionType {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        margin: -20px -20px 10px;
        padding: 10px 20px;

        .icon {
            display: inline-block;
            width: 30px;
            margin-right: 10px;
        }

        .label {
            color: $color-white;
        }
    }

    .dates {
        font-size: 14px;
        margin-bottom: 20px;
    }

    // .createdDate {

    // }

    .updatedDate {
        margin-top: 2px;
        font-weight: bold;
    }

    .comment {
        white-space: pre-line;
        margin-bottom: 20px;
    }

    .photo {
        width: 100%;
    }

    .voteContainer {
        display: flex;
        align-items: center;
        margin: 30px -10px;

        .voteButtonContainer {
            flex: 1 1 0;
            padding: 0 10px;
        }

        button {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            color: $color-white;

            &.positive {
                background-color: $color-green;
            }

            &.negative {
                background-color: $color-orange;
            }
        }
    }

    .repliesCount {
        display: flex;
        align-items: center;
        margin: 20px 0;
        color: $color-gray;

        span {
            margin-left: 5px;
            font-weight: bold;
        }

        &.hasComments {
            color: $color-blue;
        }
    }

    // .replies {
        
    // }
    
    .reply {
        margin-bottom: 20px;
    }

    pointer-events: none;

    &.ready {
        pointer-events: auto;
    }

    &.voteDisabled {
        .voteContainer {
            opacity: 0.5;
            pointer-events: none;
        }
    }
}