@import '../variables';
@import '../placeholders';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px;

    .toggler {
        color: $color-white;
    }
}