@import '../variables';
@import '../placeholders';

.container {
    position: relative;
    background-color: white;

    .closeButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }    
}