@import '../variables';
@import '../placeholders';

.container {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;

    & > * {
        flex: 1 1 0;
    }

    .menuToggler {
        text-align: left;
    }

    .dateRange {
        text-align: center;
    }

    .meteo {
        text-align: right;
    }
}