@import '../variables';
@import '../placeholders';

.container {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 0;

    & > * {
        flex: 1 1 0;
    }

    .left {
        text-align: left;
    }

    .center {       
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .menuToggler {
        padding: 0 20px;
    }
}