@import '../variables';
@import '../placeholders';

.container {
    position: relative;

    .map {
        @extend %fullscreen;

        touch-action: none;
    }

    &.isHover{
        cursor: pointer;
    }
}