@import '../variables';
@import '../placeholders';

.container {
    position: relative;    

    .map {
        height: 100%;
    }

    .loading {
        @extend %fullscreen;

        display: flex;
        padding: 10px;
        background-color: rgba($color-white, 0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s ease;
    }

    .loadingIcon {
        margin: auto;
        width: 40%;
    }

    &.loading {
        .loading {
            opacity: 1;
            pointer-events: auto;
        }
    }
}