@import '../variables';
@import '../placeholders';

.container {
    display: flex;

    opacity: 0;
    transition: opacity .25s ease;


    .inner {
        margin-left: auto;
    }

    &.ready {
        opacity: 1
    }
}