@import '../variables';
@import '../placeholders';

.container {
    @extend %fullscreen;

    display: flex;
    flex-direction: column;

    .mapFilters {
        color: $color-white;
        background-color: $color-blue-background;
    }

    .map {
        flex-grow: 1;
    }

    .addContributionButton {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
    }
}
