@import '../variables';
@import '../placeholders';

.container {
    @extend %fullscreen;

    display: flex;
    flex-direction: column;

    .mapHeader {
        z-index: 1;
        position: relative;
        color: $color-white;
        background-color: $color-blue-background;
    }

    .mapContainer {
        z-index: 0;
        position: relative;
        flex-grow: 1;
    }

    .map {
        @extend %fullscreen;
    }

    .contributionCoordsSelector {
        @extend %fullscreen;

        pointer-events: none;
    }

    .addContributionButton {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
        opacity: 1;
        transition: opacity 0.25s ease;
    }

    .reportLinksButton {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1;
        opacity: 1;
        transition: opacity 0.25s ease;
    }

    .homeMenu {
        @extend %fullscreen;

        z-index: 2;
        max-width: 480px;
        transform: translateX(-100%);
        transition: transform 0.25s ease;
    }

    .menuButton {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;

        z-index: 3;
    }

    .addContribution {
        @extend %fullscreen;

        z-index: 2;
        transform: translateY(100%);
        transition: transform 0.25s ease;
    }

    .contributionDetailsContainer {
        @extend %fullscreen;

        z-index: 2;        
        pointer-events: none;
        overflow: auto;       
        opacity: 0;
        transition: opacity 0.25s ease;
        
        background-color: rgba($color-black, 0.5);
    }

    .contributionDetails {
        display: flex;
        position: relative;
        min-height: 100%;
        padding: 20px;
        height: auto;

        @media only screen and (min-width: 800px) {
            padding: 60px 0;
        }
    }

    .contributionDetailsSafe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        width: 100%;
        min-height: 100%;

        cursor: pointer;
    }

    .contributionDetailsGroup {
        position: relative;
        margin: auto;
        
        width: 100%;
        max-width: 600px;

        transform: scale(0);
        transition: transform 0.25s ease;
    }

    .contributionDetailsInner {
        position: relative;
    }

    &.menuOpened {
        .homeMenu {
            transform: translateX(0);
        }

        .menuButton {
            color: $color-black;
        }
    }

    &.contributionSelected {
        .contributionDetailsContainer {
            pointer-events: auto;
            opacity: 1;
        }

        .contributionDetailsGroup {
            transform: scale(1);
        }
    }

    &.addContributionOpened {
        .addContribution {
            transform: translateY(0);
        }
    }

    &.contributionSubmited {
        .addContribution {
            transform: translateY(-100%);
            transition-timing-function: ease-in;
        }
    }

    &.hasUserCurrentContribution {
        .reportLinksButton {
            opacity: 0;
            pointer-events: none;
        }
    }

    &.reportLinksOpened {
        .addContributionButton {
            opacity: 0;
            pointer-events: none;
        }
    }
}
