@import '../variables';
@import '../placeholders';

.container {
    @extend %fullscreen;

    display: flex;
    flex-direction: column;

    .mapHeader {
        z-index: 1;
        position: relative;
        color: $color-white;
        background-color: $color-blue-background;
    }

    .map {
        z-index: 0;
        position: relative;
        flex-grow: 1;
    }

    .addContributionButton {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .homeMenu {
        @extend %fullscreen;

        z-index: 2;
        max-width: 480px;
        transform: translateX(-100%);
        transition: transform 0.25s ease;
    }

    .menuButton {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;

        z-index: 3;
    }

    .addContribution {
        @extend %fullscreen;

        z-index: 2;
        transform: translateY(100%);
        transition: transform 0.25s ease;
    }

    .contributionDetailsContainer {
        @extend %fullscreen;

        z-index: 2;
        display: flex;
        pointer-events: none;
        overflow: auto;       
        opacity: 0;
        transition: opacity 0.25s ease;
        background-color: rgba($color-black, 0.5);
        cursor: pointer;

        @media only screen and (min-width: 800px) {
            padding: 60px 0;
        }
    }

    .contributionDetails {
        position: relative;
        margin: auto;
        padding: 20px;
        width: 100%;
        max-width: 600px;
        transform: scale(0);
        transition: transform 0.25s ease;
        cursor: auto;
    }

    .contributionDetailsInner {
        position: relative;
    }

    &.menuOpened {
        .homeMenu {
            transform: translateX(0);
        }

        .menuButton {
            color: $color-black;
        }
    }

    &.addContributionOpened {
        .addContribution {
            transform: translateY(0);
        }
    }

    &.contributionSelected {
        .contributionDetailsContainer {
            pointer-events: auto;
            opacity: 1;
        }

        .contributionDetails {
            transform: scale(1);
        }
    }

    &.contributionSubmited {
        .addContribution {
            transform: translateY(-100%);
            transition-timing-function: ease-in;
        }
    }
}
