@import '../variables';
@import '../placeholders';

.container {
    position: relative;

    .types {
        position: absolute;
        right: 0;
        bottom: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        opacity: 0;
        transition: opacity 0.25s ease;
        pointer-events: none;
    }

    .type {
        position: relative;
        height: 51px;
        transition: height 0.35s 0.1s ease;

        &.selected {
            .typeButton {
                pointer-events: none;
            }
        }

        &:last-child {
            .typeContent {
                padding-bottom: 0;
            }
        }
    }

    .typeContent {
        padding-bottom: 5px;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.25s ease, transform 0.25s ease;
    }

    .typeButton {
        position: relative;
        overflow: hidden;
        display: flex;
        width: 100%;
        align-items: center;
        background-color: $color-white;
        border-width: 2px;
        border-style: solid;
        border-radius: 10px;
    }

    .iconContainer {
        display: block;
        padding: 6px;
    }

    .icon {
        width: 28px;
        height: 28px;
    }

    .label {
        white-space: nowrap;
        padding: 10px;
    }

    .actions {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 -5px;

        button {
            padding: 10px;
            min-width: 100px;
            color: $color-white;
            border-radius: 5px;
            margin: 0 5px;
        }
    }

    .nextButton {
        background-color: $color-green;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }

    .toggleOpenButton {
        background-color: $color-blue-background;
    }

    &.opened {
        .types {
            pointer-events: auto;
            opacity: 1;
        }

        .typeContent {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &.typeSelected {
        .types {
            pointer-events: none;

            .type {
                &.selected {
                    height: 56px;
                }

                &:not(.selected) {
                    height: 0;

                    .typeContent {
                        opacity: 0;
                    }
                }
            }
        }

        .nextButton {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
